@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Sans Regular"), local("IBMPlexSans-Regular"),
        url("./fonts/ibm-plex-sans-v8-latin-regular.woff2")
            format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/ibm-plex-sans-v8-latin-regular.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-italic - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: 400;
    src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"),
        url("./fonts/ibm-plex-sans-v8-latin-italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/ibm-plex-sans-v8-latin-italic.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-500 - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"),
        url("./fonts/ibm-plex-sans-v8-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/ibm-plex-sans-v8-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-500italic - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: 500;
    src: local("IBM Plex Sans Medium Italic"),
        local("IBMPlexSans-Medium-Italic"),
        url("./fonts/ibm-plex-sans-v8-latin-500italic.woff2")
            format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/ibm-plex-sans-v8-latin-500italic.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    src: local("IBM Plex Sans Semibold"), local("IBMPlexSans-Semibold"),
        url("./fonts/ibm-plex-sans-v8-latin-600.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/ibm-plex-sans-v8-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600italic - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: 600;
    src: local("IBM Plex Sans Semibold Italic"),
        local("IBMPlexSans-Semibold-Italic"),
        url("./fonts/ibm-plex-sans-v8-latin-600italic.woff2")
            format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/ibm-plex-sans-v8-latin-600italic.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ABC Diatype */
@font-face {
    font-family: "ABC Diatype";
    font-weight: 100 1000;
    src: local("ABC Diatype"), local("ABCDiatype"),
        url("./fonts/ABCDiatypePlusVariable-Regular.woff2")
            format("woff2");
}

/* ABC Diatype Variable */
@font-face {
    font-family: "ABC Diatype Variable";
    font-weight: 100 1000;
    src: local("ABC Diatype Variable"), local("ABCDiatypeVariable"),
        url("./fonts/ABCDiatype-RegularPixelBeta.woff2") format("woff2");
}

/* ABC Diatype Pixel */
@font-face {
    font-family: "ABC Diatype Pixel";
    font-style: normal;
    font-weight: 400;
    font-feature-settings: '"ss15"';
    src: local("ABC Diatype Pixel"), local("ABCDiatypePixel"),
        url("./fonts/ABCDiatype-RegularPixelBeta.woff") format("woff"),
        url("./fonts/ABCDiatype-RegularPixelBeta.woff2") format("woff2");
}
@font-face {
    font-family: "ReplitHack";
    src: url("./fonts/hack-regular.woff2?sha=3114f1256") format("woff2"),
        url("./fonts/hack-regular.woff?sha=3114f1256") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ReplitHack";
    src: url("./fonts/hack-bold.woff2?sha=3114f1256") format("woff2"),
        url("./fonts/hack-bold.woff?sha=3114f1256") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "ReplitHack";
    src: url("./fonts/hack-italic.woff2?sha=3114f1256") format("woff2"),
        url("./fonts/hack-italic.woff?sha=3114f1256") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "ReplitHack";
    src: url("./fonts/hack-bolditalic.woff2?sha=3114f1256")
            format("woff2"),
        url("./fonts/hack-bolditalic.woff?sha=3114f1256") format("woff");
    font-weight: 700;
    font-style: italic;
}