html, body {
    font-family: var(--font-family-default);
    background-color: var(--background-root);
    color: var(--foreground-default);
    overflow: hidden;
    
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.hide {
    display: none !important;
}

#title {
    font-size: var(--font-size-header-big);
    opacity: 0.1;

    animation: fadeIn var(--transition-duration-loadin) var(--transition-timing-function-loadin);
}
#credits {
    font-size: var(--font-size-small);
    opacity: 0.05;

    animation: fadeIn var(--transition-duration-loadin) var(--transition-timing-function-loadin);
    animation-delay: 0.6s;
    color: var(--foreground-dimmest);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


#menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#menuContainer button {
    font-size: var(--font-size-header-small);
    margin: 0.5em;
    padding: 0.5em 1em;
    border: var(--border-width-default) solid var(--outline-default);
    border-radius: var(--border-radius-default);
    background-color: var(--background-button);
    box-shadow: var(--shadow-default);
    color: var(--foreground-button);
    cursor: pointer;
    background-color: var(--background-default);
    opacity: 0.001;
    animation: fadeIn var(--transition-duration-loadin-slow) var(--transition-timing-function-loadin);
    
}
#menuContainer button:nth-child(1){
    animation-delay: 0.2s;
}
#menuContainer button:nth-child(3){
    animation-delay: 0.4s;
}
#menuContainer button:hover {
    background-color: var(--background-higher);
}
#menuContainer button:active {
    background-color: var(--background-highest);
}
#menuContainer .gameplay-selector{
    display: flex;
    font-size: var(--font-size-header-small);
    
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    
    
    background-position: center;
    background: radial-gradient(circle, var(--foreground-default) 0.1%, transparent 0.12%) center/10px 10px;
    background-size: 0;
    
    z-index: 1000;
}
#mask.animate {
    animation: maskGrow 2s forwards;
}
@keyframes maskGrow {
    0% {
        background-size: 100vmax;
    }
    50% {
        background-size: 150000vmax;
    }
    100% {
        background-size: 100vmax;
    }
    to {
        background-size: 0;
    }
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: var(--space-4); /* Adjust the gap between grid items as needed */
    width: 100vmin;
    height: 100vmin;
    padding: 0px; /* Adjust padding as needed */
    box-sizing: border-box;
    background-color: var(--foreground-default);
    margin: 20px;
    border-radius: 0;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: var(--background-root);
    border: var(--border-width-default) solid var(--background-root);
    border-radius: 0;
    font-size: var(--font-size-header-small);
    color: var(--foreground-default);
    padding: var(--space-default);
}
.cellContainer {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: var(--space-2);
    animation: shrinkGap var(--transition-duration-chill) var(--transition-timing-function-loadin);

    background-color: var(--foreground-dimmest);
    border: var(--border-width-default) solid var(--background-root);
    border-radius: var(--border-radius-default);
}
.cellContainer:hover{
    background-color: var(--foreground-dimmer);
    
}

.board.active,.board.active .cell {
    /* background-color: var(--background-default);
    border-color: var(--background-default); */
}
.board.active .cellContainer{
    /* border-color: var(--background-default); */
    background-color: var(--foreground-default);

    animation: growGap var(--transition-duration-chill) var(--transition-timing-function-loadin);

}
.board.active .cell:hover {
    background-color: var(--background-default);
    transition: background-color var(--transition-duration-chill) var(--transition-timing-function-chill);
}
.board.active .cell:active {
    background-color: var(--background-higher);
    transition: 0s;
}
.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-root);
    border: var(--border-width-default) solid var(--background-root);
    border-radius: var(--border-radius-default);
    font-size: var(--font-size-header-big);
    font-weight: 800;
    color: var(--foreground-default);
    cursor: pointer;
    border-radius: 0;

}

.markX {
    color: var(--accent-red-default);
}
.markO {
    color: var(--accent-blue-default);
}

.board.won .cellContainer {
    opacity: 1;
    animation: fadeOut10 var(--transition-duration-loadin-slow) var(--transition-timing-function-loadin);
}
.board .windisplay {
    display: none;
}
.board.won .windisplay{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    opacity: 0.01;
    animation: fadeIn var(--transition-duration-loadin-slow) var(--transition-timing-function-loadin);

}
@keyframes fadeOut50 {
    to {
        opacity: 0.5;
    }
}
@keyframes fadeOut25 {
    to {
        opacity: 0.25;
    }
}
@keyframes fadeOut10 {
    to {
        opacity: 0.1;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes fadeOutAndHide {
    to {
        opacity: 0;
        display: none;
    }
}
@keyframes growGap {
    from{    
        gap: var(--space-2);
    }
    to {
        gap: var(--space-default);
    }
}

@keyframes shrinkGap {
    from{    
        gap: var(--space-default); 
    }
    to {
        gap: var(--space-2);
    }
}

.board.won {
    pointer-events: none;
}

.won #game {
    pointer-events: none;
    opacity: 1;
    animation: fadeOutAndHide var(--transition-duration-loadin-slow) var(--transition-timing-function-loadin);
}
#gameInfo {
    display: none;
}
.won #gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-header-big);
    
    opacity: 0.01;
    animation: fadeIn var(--transition-duration-loadin-slow) var(--transition-timing-function-loadin);
    /* animation-delay: var(--transition-duration-loadin-slow); */
    font-family: var(--font-family-default);
}
.won #gameInfo .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.won #gameInfo button {
    font-size: var(--font-size-default);
    margin: 0.5em;
    padding: 0.5em 1em;
    border: var(--border-width-default) solid var(--outline-default);
    border-radius: var(--border-radius-default);
    background-color: var(--background-button);
    box-shadow: var(--shadow-default);
    color: var(--foreground-button);
    cursor: pointer;
    background-color: var(--background-default);
    opacity: 0.001;
    animation: fadeIn var(--transition-duration-loadin-slow) var(--transition-timing-function-loadin);
    animation-delay: calc(var(--transition-duration-loadin-slow));
}
